# Imports

In [1]:
import pandas as pd 
import numpy as np

### Base com atributos numéricos

In [2]:
# Base tirada de https://archive.ics.uci.edu/ml/datasets/Tic-Tac-Toe+Endgame

jogo_da_velha = pd.read_csv('databases/tic-tac-toe.csv',
                      header=None, 
                      names=[
                          "top-left-square",
                          "top-middle-square",
                          "top-right-square",
                          "middle-left-square",
                          "middle-middle-square",
                          "middle-right-square",
                          "bottom-left-square",
                          "bottom-middle-square", 
                          "bottom-right-square",
                          "Class"
                      ])

jogo_da_velha

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,Class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive
...,...,...,...,...,...,...,...,...,...,...
953,o,x,x,x,o,o,o,x,x,negative
954,o,x,o,x,x,o,x,o,x,negative
955,o,x,o,x,o,x,x,o,x,negative
956,o,x,o,o,x,x,x,o,x,negative
957,o,o,x,x,x,o,o,x,x,negative

In [3]:
jogo_da_velha.describe()

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,Class
count,958,958,958,958,958,958,958,958,958,958
unique,3,3,3,3,3,3,3,3,3,2
top,x,x,x,x,x,x,x,x,x,positive
freq,418,378,418,378,458,378,418,378,418,626

In [4]:
jogo_da_velha.dtypes

top-left-square         object
top-middle-square       object
top-right-square        object
middle-left-square      object
middle-middle-square    object
middle-right-square     object
bottom-left-square      object
bottom-middle-square    object
bottom-right-square     object
Class                   object
dtype: object

In [5]:
# jogo_da_velha = pd.get_dummies(jogo_da_velha, 
#                          columns=[], 
#                          prefix=[])
# jogo_da_velha